.header{

    text-align: center;
    background-color: black;
    font-size: 50px;
    margin-bottom: 10px;
    
}


.inputHeader{

    text-align: center;
    background-color: black;
    font-size: 25px;
    margin-bottom: 10px;
    
}

.form-group{

font-size: 15px;

}

#inputFormContainer{

   margin-top: 50px;
}

#inputForm{

   
}